body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: #333;
}

/* HERO */
.hero {
    background: url("assets/saladbg.jpg") center/cover no-repeat;
    filter: brightness(85%);
    padding: 40px 20px;
    text-align: center;
    color: white;
    position: relative;
}

.hero-logo {
    width: 130px;
    display: block;
    margin: 0 auto 10px;
}

.nav {
    margin-top: 10px;
}

.nav a {
    margin: 0 12px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.hero-text h1 {
    font-size: 48px;
    margin: 20px 0 10px;
    color: white;
}

.hero-text p {
    font-size: 20px;
    color: white;
}

/* ABOUT */
.about-section {
    background: #fff5f6;
    padding: 60px 20px;
    text-align: center;
}

.about-section h2 {
    color: #d61c22;
    font-size: 32px;
    margin-bottom: 20px;
}

/* SERVICES */
.services-sect
